*{
    font-family: "montserat", serif;
}

.logo{
    height:10vh;
}

.link-nav{
    height:100%;
    align-items: center;
    list-style-type: none;
}

ul{
    list-style-type: none;
}

main{
    margin-top:70px;
}

header{
    height:100vh;
}

.titolo{
    height:100vh;
}

h1{
    height:100%;
    display:flex;
    align-items:center; 
    justify-content:center;
 
}

h4{
    text-transform:uppercase;
 
}


span.animate{
    display:inline-block;
    animation:pulse 1s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1); /* Start at normal size */
    }
    50% {
        transform: scale(2); /* Scale up to 120% */
    }
    100% {
        transform: scale(1); /* Return to normal size */
    }
}

article{
height:100vh;
}

.link{
    height:40%;
    }

.immagineRicetta{
    height:100%;
}

h3{
    height:10%;
}

h2{  
font-family: "Kalnia Glaze", serif;
font-size: 56px;
margin:50px;
}
@media screen and (max-width: 600px) {
    
    
    .link-nav {
        margin:0px;
        border:0px;
        align-items: start;
    }
    
    .immagineRicetta{
        height:30%;
    }
    article{
        height:100vh;
        width:100%;
        }

}